In [17]:
class Column(object):
    def __init__(self, tableName, columnName):
        self.tableName = tableName
        self.columnName = columnName

    def replace(self, target, replacement):
        print(f"REPLACE {target} IN {self.tableName}.{self.columnName} WITH {replacement}")

    def trim(self, direction):
        print(f"TRIM {self.tableName}.{self.columnName} ON {direction}")

class Table(object):
    def __init__(self, tableName):
        self.tableName = tableName

    def column(self, columnName):
        return Column(self.tableName, columnName)

class ChangeBlock(object):
    def __init__(self, tableName):
        self.tableName = tableName

    def __enter__(self):
        return Table(self.tableName)

    def __exit__(self, *args):
        pass

class Database(object):
    def __init__(self):
        pass

    def change(self, tableName):
        return ChangeBlock(tableName)

db = Database()

In [18]:
def x(input, name):
    print("Hello world!")
    if True:
        while 2 < 1:
            with db.change("lectures") as table:
                table.column("lecturer").replace("<target>", "<value>")
                table.column("name").trim("both")


with db.change("students") as table:
    table.column("firstName").replace("Mister", "Mr.")
    table.column("secondName").trim("right")

y = 42
y + 10

if y > 42:
    x = 3

REPLACE Mister IN students.firstName WITH Mr.
TRIM students.secondName ON right